<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,200&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <title>Travel App</title>
    </head>

    <body>

        <header>
            <div>
                <h1>Vacation Planner</h1>
            </div>
        </header>

        <main>
            <section class="content">
                <form id="tripForm">
                    <div>
                        <label for="destination">Destination</label>
                        <input id="destination" type="text" placeholder="Enter a city">
                    </div>
                    <div>
                        <label for="depart">Departure Date</label>
                        <input id="depart" type="date" name="depart">
                    </div>
                    <div>
                        <label for="return">Return Date</label>
                        <input id="return" type="date" name="return">
                    </div>
                    <button>GO</button>
                </form>
            </section>

            <section id="tripResult">
            </section>
        </main>

        <footer>
            <h2 class="footer-title"><em>Created by MaxRazum</em></h2>
            <p class="footer-title">&copy; 2021</p>
            <div class="social">
                <a class="social-icon" href="https://github.com/maxrazum" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                <a class="social-icon" href="https://www.facebook.com/MaximeRazum/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <a class="social-icon" href="https://www.linkedin.com/in/maxrazum/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </footer>

        <!-- service worker -->
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>