// gradient from https://webgradients.com/
body {
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

main {
    flex: 2;
}

section {
    max-width: 1600px;
    margin: 20px auto;
}

strong {
    font-weight: bold;
}